$cherryRed: #f90f49;
$light-blue: #087E8B;
$sand: #EDB88B;
$light-green: #88D18A;
$mango: #ffe7db;
$dark-blue: #003049;
$white: #fff;
$black: #000;
$border-grey: #d3d3d3;
$icon-transition-time: 0.3s;
$icon-transition-cubic: cubic-bezier(0.42, 0, 0.67, 1.66);

// make a square shaped size
@mixin square-shape($size) {
	height: $size;
	width: $size;
}

// align to the top left corner
@mixin align-top-left($corner-offset: 0) {
	top: $corner-offset;
	left: $corner-offset;
}

// align to the top right corner
@mixin align-top-right($corner-offset: 0) {
	top: $corner-offset;
	right: $corner-offset;
}

html {
	font-size: 8px;
}

body {
	font-family: "Open Sans", sans-serif;
	background: $white;
}

header, footer {
	padding: 10px 10px;
	text-align: center;
}

main {
	padding: 0 6px 10px 6px;
}

h1 {font-size: 6rem;}

h2 {font-size: 5rem;}

h3 {font-size: 3rem;}

h4 {font-size: 2.5rem;}

h5, h6 {font-size: 2rem;}

p {font-size: 2rem;}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0.5em 0;
}

a {
	color: $cherryRed;
	&:hover {
		color: $cherryRed;
	}
	.panel-header & {
		color: $white;
	}
}

ul {
	list-style: none;
	padding: 0;
}

video {
	max-width: 100%;
}

.logo {
	max-width: 400px;
	width: 50%;
}

.portfolio-links {
	font-size: 2rem;
}

.main-content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0.5em;
	font-size: 4rem;
}

.tiles-section {
	text-align: center;
}

.showcase-tile {
	position: relative;
	display: inline-block;
	width: 90%;
	max-width: 300px;
	height: 300px;
	margin: 20px 10px 0 10px; // center
	background: transparent top left/cover no-repeat;
	box-shadow: 7px 6px 6px 0px rgba(0,0,0, 0.4);
	&::before, &::after {
		content: "";
		position: absolute;
		transition: opacity 0.2s;
		@include align-top-left();
		@include square-shape(100%);
	}
	&::before {
		opacity: 0;
		background-color: $white;
	}
	&::after {
		opacity: 0.8;
	}
	&:hover {
		box-shadow: none;
		border: solid 1px $border-grey;
		&::before, &::after {
			transition: opacity 0.7s, background 0.3s 0.4s;
		}
		&::before {
			opacity: 0.3;
		}
		&::after {
			opacity: 0;
		}
		> .icon {
			@include align-top-right(250px); // for ie (calc value not supported with transitions)
			@include align-top-right(calc(50% - 50px));
			opacity: 0;
			&.hover {
				opacity: 1;
			}
		}
	}
	&.linkedin-link {
		background-image:url('/images/linkedin.png');
		&::after {
			background:  linear-gradient(60deg, #00aaff 0%, #005380 70%);
		}
	}
	&.github-link {
		background-image: url('/images/github.png');
		&::after {
			background: linear-gradient(60deg, #bd91ff 0%, #483762 80%);
		}
		> .icon.hover {
			border-radius: 100px;
    		background: $white;
		}
	}
	> .icon { // floating icons
		position: absolute;
		color: $white;
		z-index: 2;
		// made using chrome dev tools visualizer
		transition: right $icon-transition-time $icon-transition-cubic, top $icon-transition-time $icon-transition-cubic, opacity $icon-transition-time ease-in;
		@include align-top-right(10px);
		@include square-shape(100px);
		&.hover {
			opacity: 0;
		}
	}
}	

.panel-header {
	color: $white;
	background-color: $cherryRed;
	border-bottom: 1px solid $border-grey;
	padding: 10px 5px;
	text-align: center;
	.close-button {
		background: $white;
		padding: 5px;
		font-weight: bold;
		position: absolute;
		right: 10px;
		top: 10px;
		&:hover {
			background-color: $mango;
		}
	}
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	img {
		max-width: 100%;
		margin: 5px 0;
	}
}

@media only screen and (min-width: 40.0625em) {
	.showcase-tile {
		height: 35vw;
		max-width: 400px;
		max-height: 120px;
	}
	.showcase-tile:first-child {
		background-position: 0px -55px;
	}
	.main-content {
		padding: 0.5em 1em;
	}
	.logo {
		width: 25%;
	}
	.gallery {
		flex-flow: row wrap;
		&.half, &.third {
			img.override-full {
				max-width: 100%;
			}
		}
		&.half img {
			max-width: 45%;
		}
		&.third img {
			max-width: 30%;
		}
	}
}

@media only screen and (min-width: 64.0625em) {

}