$cherryRed: #d44865;
$mango: #f7a67b;

body {
	font-family: "Open Sans", sans-serif;
	h1, h2, h3, h4, h5, h6, p {
		font-family: "Open Sans", sans-serif;
	}
}

header, footer {
	padding: 10px 10px;
	text-align: center;
}

main {
	padding: 0 6px 10px 6px;
}

.showcase-tile {
	position: relative;
	width: 90%;
	max-width: 300px;
	height: 300px;
	margin: 10px auto; // center
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: grey;
		opacity: 0.8;
		transition: opacity 0.2s;
	}
	&:hover {
		&::before {
			opacity: 0.1;
			transition: opacity 0.7s;
		}
		& > img {
			right: calc(50% - 50px);
			top: calc(50% - 50px);
			&.hover-icon {
				opacity: 1;
			}
			&:default-icon {
				opacity: 0;
			}
		}
	}
	.linkedin-link & {
		background: transparent url('/images/linkedin.png') no-repeat;
		background-size: cover;
	}
	.github-link & {
		background: transparent url('/images/github.png') no-repeat;
		background-size: cover;
	}
	> img {
		position: absolute;
		right: 10px;
		top: 10px;
		transition: right 0.3s ease-out, top 0.3s ease-out;
		width: 100px;
		height: 100px;
		color: #fff;
		transition: opacity 0.3s cubic-bezier(0.42, 0, 0.67, 1.66);
		&.hover-icon {
			opacity: 0;
		}
	}
}


@media only screen and (min-width: 40.0625em) {
	.showcase-tile {
		height: 35vw;
		max-width: 400px;
		max-height: 400px;
	}

}

@media only screen and (min-width: 64.0625em) {

}