body {
  font-family: "Open Sans", sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p {
  font-family: "Open Sans", sans-serif;
}

header, footer {
  padding: 10px 10px;
  text-align: center;
}

main {
  padding: 0 6px 10px 6px;
}

.showcase-tile {
  position: relative;
  width: 90%;
  max-width: 300px;
  height: 300px;
  margin: 10px auto;
}

.showcase-tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.showcase-tile:hover::before {
  opacity: 0.1;
  transition: opacity 0.7s;
}

.showcase-tile:hover > img {
  right: calc(50% - 50px);
  top: calc(50% - 50px);
}

.showcase-tile:hover > img.hover-icon {
  opacity: 1;
}

.showcase-tile:hover > img:default-icon {
  opacity: 0;
}

.linkedin-link .showcase-tile {
  background: transparent url("/images/linkedin.png") no-repeat;
  background-size: cover;
}

.github-link .showcase-tile {
  background: transparent url("/images/github.png") no-repeat;
  background-size: cover;
}

.showcase-tile > img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
  color: #fff;
  transition: right 0.3s cubic-bezier(0.42, 0, 0.67, 1.66), top 0.3s cubic-bezier(0.42, 0, 0.67, 1.66), opacity 0.3s ease-in;
}

.showcase-tile > img.hover-icon {
  opacity: 0;
}

@media only screen and (min-width: 40.0625em) {
  .showcase-tile {
    height: 35vw;
    max-width: 400px;
    max-height: 400px;
  }
}
