body {
  font-family: "Open Sans", sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p {
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 10px 10px;
  text-align: center;
}

main {
  padding: 0 6px 10px 6px;
}

.showcase-tile {
  position: relative;
  width: 90%;
  max-width: 300px;
  height: 300px;
  margin: 10px auto;
}

.showcase-tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.8;
}

.showcase-tile::after {
  content: "";
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 3em;
  padding: 0 25px;
}

.linkedin-link .showcase-tile::after {
  content: "LinkedIn";
}

.github-link .showcase-tile::after {
  content: "Github";
}

.showcase-tile:hover::before, .showcase-tile:hover::after {
  opacity: 0;
}

.linkedin-link .showcase-tile {
  background: transparent url("/images/linkedin.png") no-repeat;
  background-size: cover;
}

.github-link .showcase-tile {
  background: transparent url("/images/github.png") no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 40.0625em) {
  .showcase-tile {
    height: 35vw;
    max-width: 400px;
    max-height: 400px;
  }
}
