html {
  font-size: 8px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

header, footer {
  padding: 10px 10px;
  text-align: center;
}

main {
  padding: 0 6px 10px 6px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5, h6 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.5em 0;
}

a {
  color: #f90f49;
}

a:hover {
  color: #f90f49;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  max-width: 400px;
  width: 50%;
}

.portfolio-links {
  font-size: 2rem;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 4rem;
}

.tiles-section {
  text-align: center;
}

.showcase-tile {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 300px;
  height: 300px;
  margin: 20px 10px 0 10px;
  background: transparent top left/cover no-repeat;
  box-shadow: 7px 6px 6px 0px rgba(0, 0, 0, 0.4);
}

.showcase-tile::before, .showcase-tile::after {
  content: "";
  position: absolute;
  transition: opacity 0.2s;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showcase-tile::before {
  opacity: 0;
  background-color: #fff;
}

.showcase-tile::after {
  opacity: 0.8;
}

.showcase-tile:hover {
  box-shadow: none;
  border: solid 1px #d3d3d3;
}

.showcase-tile:hover::before, .showcase-tile:hover::after {
  transition: opacity 0.7s, background 0.3s 0.4s;
}

.showcase-tile:hover::before {
  opacity: 0.3;
}

.showcase-tile:hover::after {
  opacity: 0;
}

.showcase-tile:hover > .icon {
  top: 250px;
  right: 250px;
  top: calc(50% - 50px);
  right: calc(50% - 50px);
  opacity: 0;
}

.showcase-tile:hover > .icon.hover {
  opacity: 1;
}

.showcase-tile.linkedin-link {
  background-image: url("/images/linkedin.png");
}

.showcase-tile.linkedin-link::after {
  background: linear-gradient(60deg, #00aaff 0%, #005380 70%);
}

.showcase-tile.github-link {
  background-image: url("/images/github.png");
}

.showcase-tile.github-link::after {
  background: linear-gradient(60deg, #bd91ff 0%, #483762 80%);
}

.showcase-tile.github-link > .icon.hover {
  border-radius: 100px;
  background: #fff;
}

.showcase-tile > .icon {
  position: absolute;
  color: #fff;
  z-index: 2;
  transition: right 0.3s cubic-bezier(0.42, 0, 0.67, 1.66), top 0.3s cubic-bezier(0.42, 0, 0.67, 1.66), opacity 0.3s ease-in;
  top: 10px;
  right: 10px;
  height: 100px;
  width: 100px;
}

.showcase-tile > .icon.hover {
  opacity: 0;
}

.panel-header {
  color: #fff;
  background-color: #f90f49;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 5px;
  text-align: center;
}

.panel-header .close-button {
  background: #fff;
  padding: 5px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.panel-header .close-button:hover {
  background-color: #ffe7db;
}

@media only screen and (min-width: 40.0625em) {
  .showcase-tile {
    height: 35vw;
    max-width: 300px;
    max-height: 120px;
  }
  .main-content {
    padding: 0.5em 1em;
  }
  .logo {
    width: 25%;
  }
}
