:root {
  --primary-color: #f0003c;
  --main-bg-color: var(--primary-color);
  --white: #fff;
}

html {
  font-size: 8px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--white);
}

header, footer {
  padding: 10px 10px;
  text-align: center;
}

main {
  padding: 0 6px 10px 6px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5, h6 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.5em 0;
}

a {
  color: var(--main-bg-color);
}

a:hover {
  color: var(--main-bg-color);
}

.panel-header a {
  color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
}

video {
  max-width: 100%;
}

.logo {
  max-width: 400px;
  width: 50%;
}

.portfolio-links {
  font-size: 2rem;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 4rem;
}

.tiles-section {
  text-align: center;
}

.showcase-tile {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 300px;
  height: 300px;
  margin: 20px 10px 0 10px;
  background: transparent top left/cover no-repeat;
  box-shadow: 7px 6px 6px 0px rgba(0, 0, 0, 0.4);
}

.showcase-tile::before, .showcase-tile::after {
  content: "";
  position: absolute;
  transition: opacity 0.2s;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showcase-tile::before {
  opacity: 0;
  background-color: var(--white);
}

.showcase-tile::after {
  opacity: 0.8;
}

.showcase-tile:hover {
  box-shadow: none;
  border: solid 1px #d3d3d3;
}

.showcase-tile:hover::before, .showcase-tile:hover::after {
  transition: opacity 0.7s, background 0.3s 0.4s;
}

.showcase-tile:hover::before {
  opacity: 0.3;
}

.showcase-tile:hover::after {
  opacity: 0;
}

.showcase-tile:hover > .icon {
  top: 250px;
  right: 250px;
  top: calc(50% - 50px);
  right: calc(50% - 50px);
  opacity: 0;
}

.showcase-tile:hover > .icon.hover {
  opacity: 1;
}

.showcase-tile.linkedin-link {
  background-image: url("../../images/linkedin.png");
}

.showcase-tile.linkedin-link::after {
  background: linear-gradient(60deg, #00aaff 0%, #005380 70%);
}

.showcase-tile.github-link {
  background-image: url("../../images/github.png");
}

.showcase-tile.github-link::after {
  background: linear-gradient(60deg, #bd91ff 0%, #483762 80%);
}

.showcase-tile.github-link > .icon.hover {
  border-radius: 100px;
  background: var(--white);
}

.showcase-tile > .icon {
  position: absolute;
  color: var(--white);
  z-index: 2;
  transition: right 0.3s cubic-bezier(0.42, 0, 0.67, 1.66), top 0.3s cubic-bezier(0.42, 0, 0.67, 1.66), opacity 0.3s ease-in;
  top: 10px;
  right: 10px;
  height: 100px;
  width: 100px;
}

.showcase-tile > .icon.hover {
  opacity: 0;
}

.panel-header {
  color: var(--white);
  background-color: var(--main-bg-color);
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 5px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.gallery img {
  max-width: 100%;
  margin: 5px 0;
}

@media only screen and (min-width: 40.0625em) {
  .showcase-tile {
    height: 35vw;
    max-width: 400px;
    max-height: 120px;
  }
  .showcase-tile:first-child {
    background-position: 0px -55px;
  }
  .main-content {
    padding: 0.5em 1em;
  }
  .logo {
    width: 25%;
  }
  .gallery {
    flex-flow: row wrap;
  }
  .gallery.half img.override-full, .gallery.third img.override-full {
    max-width: 100%;
  }
  .gallery.half img {
    max-width: 45%;
  }
  .gallery.third img {
    max-width: 30%;
  }
}
